.main-cards-container{
    width: 100%;
    margin-top: 5rem;
  height: 145vh; 

  }
  .cards-title{
   
    text-align: center;
  }
  .blogs-title h2{
    margin-top: 2rem;
    font-size: 40px;
    color: black;
    font-weight: bold;
  }
  .blogs-title  p{
    color:black;
    font-weight: 100;
  }
  
  .blogs-card-content{
    background-color: white;
    height: 450px;
    border-radius: 20px;
    padding: 15px;
  }
  .my-img-cards{
    /* background-color: bisque; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* height: 56px; */
  }
  .my-text-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
  }
  .my-text-cards h3{
    text-align: left;
    margin-top: 1rem;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 13px;
    border: 1px solid red;
  }
  .my-text-cards h1{
    margin-top: 1rem;
  
    border-radius: 13px;
   font-size: 24px;
   font-weight: bold;
  }
  .my-text-cards p{
    font-size: 15px; 
  }
  .read{
    margin-right: 7rem;
  }